.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-github {
    color: var(--icon-color);
    font-size: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.loading-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}